@import "../../../assets/css/base.scss";

.full_vh_height {
  height: calc(100vh - 60px);
  text-align: $center;
  width: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: $contain;
    max-width: max-content;
    object-position: $center;
  }
}