
  <div class="main-sec mirvac-sec">
    <div class="mirvac-inner">
      <h1>Quality and care<br/>in every little detail</h1>
      <h2 class="h5 mirvac-subtitl">the mirvac differnce</h2>
      <ul class="award-list">
        <li *ngFor="let award of award_list"><i><img [src]="award?.src" alt="O'Connell_House" width="120px" /></i></li>
      </ul>
      <div class="award-detail">
        <p class="h6">For over 50 years we have been reimagining urban life in Australia - creating exceptional living experiences through the pursuit of quality and care in every little detail.
        </p>
      </div>
      <ul class="award-list-mirvac">
        <li><i><img src="assets/img/icons/50-yr-icon.svg" alt="O'Connell_House" width="80px" /></i></li>
        <li><i><img src="assets/img/icons/mirvac-icon.svg" alt="O'Connell_House" width="80px"/></i></li>
      </ul>
      <h6 class="urban-sec">reimagining urban life since 1972</h6>
    </div>
  </div>