@import '../../../../assets/css/base.scss';

.hdr-main {
    width: 100%;
    padding: 10px 40px;
    background: $white;
    @include flexbox;
    @include align-items (center);
    position: $fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    @media (max-width: 1280px) {
        padding: 10px 25px;
    }
    @media (min-width:992px) and (max-width: 1199px) {
        padding: 15px 40px 15px 30px;
    }
    .main-logo {
        margin-right: 70px;
        font-size: $f20;
        cursor: $pointer;
        white-space: nowrap;
        @media (max-width: 1280px) {
            font-size: $f16+2;
            margin-right: 10px;
        }
        a {
            display: $block;
            line-height: 0px;
            cursor: $pointer;
        }
        img {
            width: 100px;
            @media (max-width: 1280px) {
                width: 78px;
            }
            @media (max-width: 991px) {
                width: 70px;
            }
        }
    }

    .hdr-right {
        width: 7%;
        text-align: $right;
        @media (max-width: 991px) {
            width: 50%;
            @include flexbox;
            @include justify-content (end);
        }
        ul {
            @include justify-content (end);
            li {
                padding: 0 5px;
                a,span {
                    display: $block;
                    line-height: 10px;
                    cursor: $pointer;
                    img {
                         width: 34px;
                        @media (max-width: 991px) {
                            width: 30px;
                        }
                    }
                }
                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }

    .hdr-center {
        width: 83%;
        @media (max-width: 991px) {
            width: 50%;
        }
        .main-menu {
            @media (max-width: 991px) {
                display: $none;
            }
            ul {
                li {
                    a,span {
                        font-size: $f16;
                        text-align: $center;
                        color: $dark-grey-color;
                        text-decoration: $none;
                        font-weight: $font-regular;
                        font-family: $font-lexendMega;
                        letter-spacing: 0;
                        line-height: 24px;
                        align-items: $center;
                        text-transform: $uppercase;
                        position: $relative;
                        display: $inline-block;
                        cursor: $pointer;
                        &:hover, &:focus-visible {
                            outline: 0;
                            border: 0;
                        }
                        @media (min-width: 1400px) {
                            padding: 10px 34px;
                        }
                        @media (max-width: 1400px) {
                            padding: 16px 24px;
                        }
                        @media (max-width: 1400px) {
                            font-size: $f14 - 1;
                        }
                        @media (max-width: 1280px) {
                            font-size: $f12;
                            padding: 10px;
                        }
                        @media (max-width: 991px) {
                            font-size: $f14;
                        }
                        &.active::before,
                        &:hover::before {
                            opacity: 1;
                        }
                        &::before {
                            content: '';
                            position: $absolute;
                            background: $primary-color;
                            width: 80%;
                            height: 3px;
                            bottom: -10px;
                            left: 0;
                            right: 0;
                            text-align: $center;
                            margin: 0 $auto;
                            opacity: 0;
                            @media (max-width:991px){
                                width: 100px;
                                margin: 0;
                                bottom: 0;
                            }
                        }
                    }
                    .sub-menu {
                        display: $none;
                        left: 0;
                        width: $auto;
                        z-index: 1;
                        text-align: $center;
                        background-color: $secondary-color;
                        @media (min-width:992px) {
                            position: $absolute;
                            top: -54px;
                        }
                        @media (max-width:1600px) {
                            top: -44px;
                        }
                        @media (max-width: 1024px) {
                            padding: 0px 15px;
                            overflow: $hidden;
                            top: -36px;
                        }
                        @media (max-width:991px) {
                            position: $relative;
                            margin: 0;
                        }
                        &.highLight {
                            display: $none;
                            @include justify-content ($center);
                            &.active{
                                @include flexbox;
                            }
                            &.active_sub_menu{
                                @media (min-width:992px){
                                    @include flexbox;
                                }
                            }
                        }
                        @media (max-width:991px) {
                            height: $auto;
                            background-color: $light-blue;
                        }
                        li {
                            border-right: 1px solid $white;
                            &:last-child {
                                border-right: 0;
                            }
                            a,span {
                                color: $white;
                                text-decoration: $none;
                                font-size: $f16 - 1;
                                padding: 15px 25px;
                                @media (max-width: 1400px) {
                                    padding: 10px 18px;
                                }
                                @media (max-width: 1024px) {
                                    padding: 6px 10px;
                                }
                                &::before {
                                    display: $none;
                                    // background: $base-color;
                                }
                                &.active {
                                    background: $primary-color;
                                }
                            }
                        }
                    }
                }
            }
            &.show {
                @media (max-width: 991px) {
                    display: $block;
                }

                ul {
                    @media (max-width: 1024px) {
                        padding: 10px 20px;
                    }
                    @media (max-width: 991px) {
                        position: $fixed;
                        top: 0;
                        left: 0;
                        width: 100%;
                        padding: 10px;
                        background: $light-blue1;
                        height: calc(100% - 50px);
                        overflow-x: $hidden;
                        overflow-y: $auto;
                        padding-top: 0;
                        @include flexbox;
                        @include flex-direction (column);
                        // justify-content: $center;
                    }

                    li {
                        @media (max-width: 991px) {
                            width: 100%;
                            text-align: $center;
                        }
                        a,span {
                            padding: 10px;
                            color: $base-color;
                            @include flexbox;
                            @include align-items (center);
                            @include justify-content (space-between);
                            @media (max-width: 1024px) {
                                padding: 10px 0;
                            }
                        }
                    }
                }

            }
        }
    }
}


.navbar ul li a.active ul li a.active, .navbar ul li span.active ul li span.active {
    display: $block;
}

/*hamberger*/
.hamburger_menu {
    margin-left: 10px;
    background-color: $transparent;
    border: 1px solid $white;
    @include flexbox;
    @include align-items (center);
    border-radius: 50%;
    padding: 2px;
    width: 30px;
    height: 30px;
    cursor: $pointer;
    @media (min-width: 992px) {
        display: $none;
        margin-left: $auto;
    }
    svg {
        height: 24px;
        width: 24px;
        path {
            stroke: $white;
        }

    }
}
.line {
    fill: $none;
    stroke: $white;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}
.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}
.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}
.active .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}
.active .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}
.active .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}
@media (max-width: 991px) {
    .navbar ul .sub-menu.active{display: $block;}
	.sub-menu-icon {display: $block;line-height: 15px;}
}
@media (min-width: 992px){
	.sub-menu-icon {display: $none;}
}
