/*Fonts */
// @font-face {
//     font-family: 'ogglight';
//     src: url('../fonts/ogglight-webfont.woff2') format('woff2'),
//          url('../fonts/ogglight-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//   }
//   @font-face {
//       font-family: 'sweet_sans_probold';
//       src: url('../fonts/sweetsanspro-bold.woff2') format('woff2'),
//            url('../fonts/sweetsanspro-bold.woff') format('woff');
//       font-weight: normal;
//       font-style: normal;

//   }
// _fonts.scss
@font-face {
  font-family: "sweet_sans_probold";
  src: url('../fonts/sweetsanspro-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ogg_light";
  src: url("../fonts/OGG-LIGHT.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "UNTITLEDSANS-LIGHT";
  src: url("../fonts/UNTITLEDSANS-LIGHT.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ATSackersCornwell';
  src: url('../fonts/atsacker-cornwell/ATSackersCornwell-Light.eot');
  src: url('../fonts/atsacker-cornwell/ATSackersCornwell-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/atsacker-cornwell/ATSackersCornwell-Light.woff2') format('woff2'),
      url('../fonts/atsacker-cornwell/ATSackersCornwell-Light.woff') format('woff'),
      url('../fonts/atsacker-cornwell/ATSackersCornwell-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ATSackersCornwell Med';
  src: url('../fonts/atsacker-cornwell/ATSackersCornwell-Medium.eot');
  src: url('../fonts/atsacker-cornwell/ATSackersCornwell-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/atsacker-cornwell/ATSackersCornwell-Medium.woff2') format('woff2'),
      url('../fonts/atsacker-cornwell/ATSackersCornwell-Medium.woff') format('woff'),
      url('../fonts/atsacker-cornwell/ATSackersCornwell-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Kudryashev Display Sans';
  src: url('../fonts/kudryashev/KudryashevDisplay-Sans.eot');
  src: local('../fonts/kudryashev/Kudryashev Display Sans'), local('KudryashevDisplay-Sans'),
      url('../fonts/kudryashev/KudryashevDisplay-Sans.eot?#iefix') format('embedded-opentype'),
      url('../fonts/kudryashev/KudryashevDisplay-Sans.woff2') format('woff2'),
      url('../fonts/kudryashev/KudryashevDisplay-Sans.woff') format('woff'),
      url('../fonts/kudryashev/KudryashevDisplay-Sans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kudryashev Headline';
  src: url('../fonts/kudryashev/KudryashevHeadline-Sans.eot');
  src: local('../fonts/kudryashev/Kudryashev Headline Sans'), local('KudryashevHeadline-Sans'),
      url('../fonts/kudryashev/KudryashevHeadline-Sans.eot?#iefix') format('embedded-opentype'),
      url('../fonts/kudryashev/KudryashevHeadline-Sans.woff2') format('woff2'),
      url('../fonts/kudryashev/KudryashevHeadline-Sans.woff') format('woff'),
      url('../fonts/kudryashev/KudryashevHeadline-Sans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kudryashev Display';
  src: url('../fonts/kudryashev/KudryashevDisplay-Regular.eot');
  src: local('../fonts/kudryashev/Kudryashev Display'), local('KudryashevDisplay-Regular'),
      url('../fonts/kudryashev/KudryashevDisplay-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/kudryashev/KudryashevDisplay-Regular.woff2') format('woff2'),
      url('../fonts/kudryashev/KudryashevDisplay-Regular.woff') format('woff'),
      url('../fonts/kudryashev/KudryashevDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kudryashev Headline';
  src: url('../fonts/kudryashev/KudryashevHeadline-Regular.eot');
  src: local('../fonts/kudryashev/Kudryashev Headline'), local('KudryashevHeadline-Regular'),
      url('../fonts/kudryashev/KudryashevHeadline-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/kudryashev/KudryashevHeadline-Regular.woff2') format('woff2'),
      url('../fonts/kudryashev/KudryashevHeadline-Regular.woff') format('woff'),
      url('../fonts/kudryashev/KudryashevHeadline-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

