<div class="main-sec floorplan_sec">
  <div class="gallery-main floor-apartment">
    <div class="gallery-sec">
      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let slide of slides; let i = index" class="slide">
          <h6>{{slide?.value}}</h6>

          <img [src]="slide.src" alt="" width="100%" (click)="getDetails(slide)" />
        </div>
      </ngx-slick-carousel>

    </div>

  </div>
</div>

<div id="floor-modal" class="modalDialog floorModal">
  <div class="modal-content">
    <div class="modal-body">
      <a title="Close" class="close pointer" (click)="closeModal()"><img src=" assets/img/icons/close.svg" alt="mirvac"
          width="25" /></a>
      <div class="floor-img" [class]="showimgSrc? 'show': 'hide'" id="imgID2">
      </div>
      <div [class]="showPlan? 'show': 'hide'" class="floor-img" [innerHTML]="modalSrc"></div>
      <div class="view-detail" *ngIf="showView">
        <h6 class="view-heading">LEVEL {{viewData.field_286}} <span>ASPECT: {{viewData.field_296}}</span></h6>
        <div class="view-pic">
          <div [innerHTML]="modalSrc"></div>
        </div>
        <div class="view-info">
          <p [innerHTML]="viewData.field_299"></p>
        </div>
      </div>


    </div>
  </div>
</div>