.full-home-video{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100vh - 100px);
    object-fit: cover;
}

@media(max-width:1600px){
    .full-home-video{
    
        height: calc(100vh - 85px);
        
    }
}

@media(max-width:991px){
    .full-home-video{
    
        height: calc(100vh - 50px);
        
    }
}