<!-- <router-outlet></router-outlet> -->

<div class="full_vh_height disclaminer-text">
    <img [src]="imageUrl" alt="O'Connell House" width="1200" height="1200"/>
    <h5>Charlton House, O’Connell House and future development areas shown are an artist’s impression. Indicative only and subject to
        change. It is presently the intention of Mirvac that Ascot Green will be a multi stage development
        with Ascot House, Tulloch House and Charlton House already completed. It is anticipated that the lot will form part of the community titles scheme known as “O’Connell House” which is intended to be carried out in
        2 stages.
        Any further stages (either commercial or residential) are proposed only and subject to approval. Please note parts of the lands
        urrounding Ascot Green shown do not form part of Mirvac’s Development Site
        (External Area). The
        areas noted as ‘Future BRC Development Site’ are not being developed by Mirvac and are outside of Mirvac’s control and subject to Authority approvals. Purchasers should make their own enquiries in relation to
        these proposed
        future developments. Buyers should make their own enquiries to the relevant authorities regarding approval of proposed future
        stages. Landscaping and Embellishments-The depiction of landscaping, footpath
        paving, street tree planting, the embellishment of parks, playgrounds and alike on the plan is indicative only and are subject to change. The depictions on the plan do not necessarily
        reflect final designs which require the input and approval of
    </h5>
</div>