@import 'fonts';
@import 'variable';
@import 'flexbox';
@import '../fonts/style.scss';

$base-color: #58585A;
$white: #fff; 
$black: #000;

$black-500:#58595B;
$grey-300:#B5B5B5;
$grey-400:#A0A0A0;
$white-400: #fff; 

$sky-blue: #43C7E7;
$light-blue: #C6D9EF;
$light-blue1: #D7E4F3;

$light-orange: #E3D1C4;

$cream: #F6F1ED;
$red: #CF1B1B;
$rounded_color:#3b758b;