<div class="main-sec admin-agent-main admin_Customtheme">
    <div class="container-fluid admin_table-div">
        <div class="admin-agent-sec">
            <div class="serach_agentttt">
                <h1 class="h5 text-uppercase mt-0">Exisiting Agent</h1>
                <div class="search_field">
                    <input type="search" placeholder="Search Agent" (input)="searchAgent($event)"
                        [(ngModel)]="searchKeyForAgent" />
                </div>
            </div>
            <div class="agent-tbl table-responsive">
                <table>
                    <thead class="table_head">
                        <tr>
                            <th>Company Name</th>
                            <th>First Name</th>
                            <th>Surname</th>
                            <th>Email</th>
                            <th colspan="2">Action</th>

                        </tr>
                    </thead>
                    <tbody *ngIf="displayTable">
                        <!-- <tr *ngFor="
                        let items of agentList  | paginate
            : {
                itemsPerPage: 10,
                currentPage: p,
                totalItems: total,
                id: 'first'
              };
                        let i = index
                      " [class]="selectedId == i ? 'active' : ''" (click)="checkIndex(i)"> -->
                        <tr *ngFor="let items of agentList | paginate: {
                            itemsPerPage: 10,
                            currentPage: p,
                            totalItems: total,
                            id: 'first'
                          }; let i = index"
                          [class]="selectedId == i ? 'active' : ''" (click)="checkIndex(i)">
                            <td>{{ items?.name }}</td>
                            <td>{{ items?.firstName }}</td>
                            <td>{{ items?.surName }}</td>
                            <td>{{ items?.email }}</td>
                            <td>
                                <span class="pointer" (click)="showModal = true; fetchDetails(items?.id, false)"><img
                                        src="assets/img/icons/bin.svg" class="img-fluid"
                                        alt="delete" /></span>
                            </td>
                            <td>
                                <span class="pointer" (click)="showModal = true; fetchDetails(items?.id, true)"><img
                                        src="assets/img/icons/edit.svg" class="img-fluid"
                                        alt="edit" /></span>
                            </td>
                        </tr>

                    </tbody>

                </table>
                <div class="custom_table_pagination">
                    <div class="no_records" *ngIf="!displayTable">
                        <p class="textClass">No Records</p>
                    </div>
                    <pagination-controls [maxSize]="maxSize" (pageChange)="p = $event; changePage($event)"
                        class="pagination" id="first">
                    </pagination-controls>
                </div>

            </div>

            <div class="agent-form">
                <h2 class="agent-title h5">Add new agent</h2>
                <form [formGroup]="addAgent" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input formControlName="name" appInputRestriction class="form-control"
                                    placeholder="COMPANY NAME"
                                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                                <div class="error is-invalid" *ngIf="
                                      (submitted || f.name?.touched) && f.name?.errors?.required
                                    ">Company name is required</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input appInputRestriction formControlName="firstName" class="form-control"
                                    placeholder="CONTACT FIRST NAME" [ngClass]="{
                                      'is-invalid': submitted && f.firstName.errors
                                    }" />
                                <div class="error is-invalid" *ngIf="
                                      (submitted || f.firstName?.touched) &&
                                      f.firstName?.errors?.required
                                    ">
                                    First name is required
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input appInputRestriction formControlName="surName" class="form-control"
                                    placeholder="CONTACT SURNAME"
                                    [ngClass]="{ 'is-invalid': submitted && f.surName.errors }" />
                                <div class="error is-invalid" *ngIf="
                                      (submitted || f.surName?.touched) &&
                                      f.surName?.errors?.required
                                    ">
                                    Surname is required
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input formControlName="email" class="form-control" placeholder="EMAIL"
                                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                <div class="error is-invalid" *ngIf="
                                      (submitted || f.email?.touched) &&
                                      f.email?.errors?.required
                                    ">Email is required
                                </div>
                                <div class="error" *ngIf="
                                      (submitted || f.email?.touched) &&
                                      f.email?.errors?.pattern
                                    ">Enter a valid email </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="col-sm-8 text-right submit_agent_btn">
                                    <button class="btn btn-primary btn-lg">Submit</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal_delete modal_disclaimer" *ngIf="showModal">
    <div class="modal_dialogue">
        <div class="modal-content">
            <button class="close_btn btn-transparent">
                <img src="../../../../assets/img/icons/close.svg" alt="close" (click)="showModal = !showModal" />
            </button>
            <h2 *ngIf="!editMode">Confirm deletion of this agent</h2>
            <h2 *ngIf="editMode">Edit details of this agent</h2>

            <form [formGroup]="editForm">
                <div class="form-group">
                    <label>Company Name</label>
                    <input appInputRestriction type="text" placeholder="NAME" class="form-control"
                        formControlName="name" />
                    <div class="error is-invalid"
                        *ngIf="(submitted || controls.name?.touched) && controls.name?.errors?.required">
                        Company name is required
                    </div>
                </div>
                <div class="form-group">
                    <label>First Name</label>
                    <input appInputRestriction type="text" placeholder="CONTACT FIRST NAME" class="form-control"
                        formControlName="firstName" />
                    <div class="error is-invalid"
                        *ngIf="(submitted || controls.firstName?.touched) && controls.firstName?.errors?.required">
                        First name is required
                    </div>
                </div>
                <div class="form-group">
                    <label>Surname</label>
                    <input appInputRestriction type="text" placeholder="CONTACT SURNAME" class="form-control"
                        formControlName="surName" />
                    <div class="error is-invalid"
                        *ngIf="(submitted || controls.surName?.touched) && controls.surName?.errors?.required">
                        Surname is required
                    </div>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" placeholder="EMAIL" class="form-control" formControlName="email" />
                    <div class="error is-invalid"
                        *ngIf="(submitted || controls.email?.touched) && controls.email?.errors?.required">
                        Email is required
                    </div>
                    <div class="error is-invalid"
                        *ngIf="(submitted || controls.email?.touched) && controls.email?.errors?.pattern">
                        Enter a valid email
                    </div>
                </div>
            </form>
            <div class="delete_agent_btn popup-comn_btn">
                <button *ngIf="!editMode" (click)="deleteAgent()" class="btn btn-primary btn-lg delete-btn">
                    DELETE AGENT
                </button>
            </div>
            <div class="delete_agent_btn  popup-comn_btn">
                <button *ngIf="editMode" (click)="editAgent()" class="btn btn-primary btn-lg delete-btn">
                    UPDATE AGENT
                </button>
            </div>

        </div>
    </div>
</div>