<div class="splash-screen">
    <figure class="spalsh_banner">
        <img [src]="imageUrl" alt="O'Connell" width="100" height="100" />
        <figcaption>“
            Artist’s impression. Architecture, services and finishes are indicative only and subject to change. Image shows upgraded fini
            she
            s
            and fitting options. Furnishings and window treatments are not included in this apartment. Views depicted are indicative only
            .”</figcaption>
    </figure>

    <div class="splash_buttons">

        <img src="../../../assets/img/main-logo.svg">
        <div class="splash_card">
            <h2>O'CONNELL HOUSE</h2>
            <h5>AT ASCOT GREEN</h5>
            <h6>by mirvac</h6>
        </div>
        <div class="button-container" *ngFor="let button of buttons">
            <button class="btn btn-lg text-uppercase"
                (click)="navigateRoute(button?.path)"><span>{{button?.title}}</span></button>
        </div>
    </div>
</div>